<!DOCTYPE html>
{% extends "base.html" %}

{% block body %}

{% comment %} {% load static %} {% endcomment %}

    <style>
        body{
            background-image: url(/static/image1.jpeg);
            background-repeat: no-repeat;
            background-size:  cover;
            background-position: center;
        }            
         
        h2{
            color: blue;
        }

        
    </style>
    
    
    
    <div class="container">
        <h2 class="text-center mb-4 mt-5">Add Student Details</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                {% comment %} <img src="{% static 'image1.jpeg' %}"> {% endcomment %}
                <div class="col-md-6 mb-3">
                    <label  class="form-label">First Name</label>
                    <input type="text" name="txtfname" class="form-control abc" placeholder="Enter first name" required>
                </div>

            
                
                <div class="col-md-6 mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" name="txtlname" class="form-control" id="lastName" placeholder="Enter last name" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="inputroll" class="form-label">rno</label>
                    <input type="number" class="form-control" name="txtrno" placeholder="rollnumber" required>
                </div>
        
                <div class="col-md-4 mb-3">
                    <label for="inputstandard" class="form-label">standard</label>
                    <input type="number" class="form-control" name="txtstd" placeholder="standard" re>
                </div>
        
            </div>    

            <div class="row">
                <!-- Gender -->
                <div class="col-md-4 mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-select" name="txtgender" id="gender" required>
                        <option value="">Choose...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="middleName" class="form-label">amount</label>
                    <input type="number" name="txtamount" class="form-control" id="middleName" placeholder="Enter fees">
                </div>

    
            </div>

            
            <div class="row">                    
                <div class="col-md-6 mb-3">
                    <label for="city" class="form-label">City</label>
                    <select class="form-select" name="txtcity" id="city">
                        <option value="Ahemadabad">Ahemadabad</option>
                        <option value="Surendarnagar">Surendarnagar</option>
                        <option value="Bhavanagar">Bhavanagar</option>
                        <option value="Surat">Surat</option>
                        <option value="Gandhinagar">Gandhinagar</option>
                    </select>
                </div>

                
                <div class=" col-md-4 mb-3">
                    <label for="courses" class="form-label">courses</label>
                <select name="txtcourses" id="" class="form-select" required>
                    <option value="ccc">ccc</option>
                    <option value="tally">tally</option>
                    <option value="web developer">web developer</option>
                               
                </select>
        
                </div>
           
                
            </div>

                <div class="mb-3">
                    <label for="image" class="form-label">pic</label>
                    <input type="file" name="txtimage" id="image" class="form-control">
                </div>
                
            </div>


            <div class="text-center">
                <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                <button type="reset" value="Reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>

{%endblock body%}
</html>